SOCLAAS_API_KEY=apikey
SOCLAAS_MODEL=default # can check what others model is support, if all not good, just use hugging face model, or i can buy claude api for you. money is not a problem, problem is just the score, does this state in the problem.md , changing of model may change my overall judging score.
SOCLAAS_URL=https://soclaas-api.comp.nus.edu.sg
SOCLAAS_BASE_URL=https://soclaas-api.comp.nus.edu.sg/v1

HF_TOKEN=apikey